/* shared styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* header styles */
.header {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(229, 84, 115, 0.10);
    padding: 20px 150px 0px 200px;
    margin-bottom: 170px;
    /* gap: 100px; */
}
.banner-description-container{
    /* padding: 150px 90px 240px 100px; */
}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 30px;
}

.banner_description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    border: 0px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}
.img-main{
    width: 600px;
}